# SPDX-License-Identifier: AGPL-3.0-or-later
terraform.tfstate*
secrets/
result*
mutants.out*
/target
.vscode
.vagrant/
.terraform*
.task
.vale.ini
.nixos-test-history
.gdb_history
.direnv
*.swp
book
docs/mermaid/
docs/styles/Joblint
docs/styles/Microsoft
docs/styles/write-good

